
<div class="page-body">
    <h1>Welcome to CSE Motors!</h1>
    <div class="hero">
        <img class="delorean" src="/images/vehicles/delorean.jpg" alt="Delorean">
    
    </div>

    <article class="specs">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dicel</p>
        <h3>Own Today</h3>
    </article>

    <div class="details">
        <div class="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>80's livin and I love it!" (5/5)</li>
            </ul>
        </div>

        <div class="upgrades">
            <h2>Delorean Upgrades</h2>

            <div class="capacitor-cont">
                <div class="capacitor">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                </div>
                <div class="text1"><a href="#">Flux Capacitor</a></div>
            </div>
            
            <div class="flame-cont">
                <div class="flame">
                    <img src="/images/upgrades/flame.jpg" alt="Flame">
                </div>
                <div class="text2"><a href="#">Flame Decals</a></div>
            </div>
            
            <div class="bumper-cont">
                <div class="bumper">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                    
                </div>
                <div class="text3"><a href="#">Bumper Stickers</a></div>
            </div>
            
            <div class="hub-cap-cont">
                <div class="hub-cap">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
                </div>
                <div class="text4"><a href="#">Hub Caps</a></div>
            </div>
            
        </div>
    </div>
</div>
